<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расчет нормативных параметров</title>
</head>
<body>

<style>
    TABLE {
        border-collapse:collapse;
        width:100%;
    }
    TD, TH {
        padding:3px;
        border:1px solid black;
        font-size:14px;
    }
    CAPTION {
        text-align:center;
        font-size:14px;
        margin-top:20px;
    }
    DIV.h1 {
        text-align:center;
        font-size:16px;
        font-weight:bold;
        margin-bottom:15px;
    }
    DIV.h2 {
        text-align:center;
        font-size:14px;
        font-weight:bold;
        margin-bottom:10px;
    }
    DIV.formula {
        text-align:center;
        font-size:14px;
        margin-top:10px;
        margin-bottom:10px;
    }

    DIV.txt {
        text-align:justify;
        font-size:14px;
    }
</style>

<div class="h1">Климатические параметры отопительного периода</div>
<div class="txt">Градусо-сутки отопительного периода (ГСОП) определяется по формуле 5.2 СП 50.13330.2012</div>
<div class="formula"><i>ГСОП = (t<sub>в</sub> - t<sub>от</sub>)·z<sub>от</sub></i></div>
<div class="txt">где <i>t<sub>в</sub></i> = {{norm.t_int}} °С - температура внутреннего воздуха помещений здания (определяется по ГОСТ 30494-96);</div>
<div class="txt"><i>t<sub>от</sub></i> = {{norm.t_ot}} °С – средняя температура наружного воздуха отопительного периода
            для г.{{norm.citi}}, для периода со средней суточной температурой наружного воздуха не более
{% if norm.typ == "Детское учреждение" %}
    10 °С, определяется по табл. 1 СП 131.13330.2012;
{% else %}
    8 °С, определяется по табл. 1 СП 131.13330.2012;
{% endif %}
</div>
<div class="txt"><i>z<sub>от</sub></i> = {{norm.z_ot}} °С – продолжительность отопительного периода
для г.{{norm.citi}}, для периода со средней суточной температурой наружного воздуха не более
{% if norm.typ == "Детское учреждение" %}
    10 °С, определяется по табл. 1 СП 131.13330.2012;
{% else %}
    8 °С, определяется по табл. 1 СП 131.13330.2012;
{% endif %}
</div>
<div class="formula"><i>ГСОП</i> = ({{norm.t_int}} - ({{norm.t_ot}}))·{{norm.z_ot}} = {{norm.gsop}} ºС·сут</div>
<br>

<div class="h1">Требования к ограждающим конструкциям здания</div>
{% for key in norm.norm %}
    {% set con = norm.norm[key] %}
    {% set name_con = other_name[key] %}
    {% if key in ['Наружная стена', 'Покрытие', 'Чердачное перекрытие', 'Перекрытие над холодным подвалом',
               'Перекрытие над проездом', 'Окна', 'Витражи', 'Фонари'] %}
        <div class="h2">{{key}}</div>
        <div class="txt">Для {{name_con}} жилых зданий в климатических условиях г. {{norm.citi}} требуемое сопротивление
            теплопередаче определяется по формуле интерполяции</div>
        <div class="formula">R<sub>о</sub><sup>тр</sup> = R<sub>1</sub> + (R<sub>2</sub> - R<sub>1</sub>)/
            (ГСОП<sub>2</sub> - ГСОП<sub>1</sub>)∙ (ГСОП - ГСОП<sub>1</sub>)</div>
        <div class="formula">R<sub>о</sub><sup>тр</sup> = {{con["R1"]}} + ({{con["R2"]}} - {{con["R1"]}})
            /({{con["GSOP2"]}} - {{con["GSOP1"]}})∙ ({{norm.gsop}} - {{con["GSOP1"]}}) = {{con["Rtr"]}} м²·°С/Вт</div>
        <div class="txt">где ГСОП<sub>1</sub> = {{con["GSOP1"]}}, ГСОП<sub>2</sub> = {{con["GSOP2"]}} - градусо-сутки
            отопительного периода по таблице 3 СП 50.13330.2012, между которыми находится рассчитанная величина ГСОП;</div>
        <div class="txt">R<sub>1</sub> = {{con["R1"]}} м²·°С/Вт, R<sub>2</sub> = {{con["R2"]}} м²·°С/Вт - нормативное сопротивление
            теплопередаче конструкции, соответствующие величинам градусо-суток отопительного периода
            {{con["GSOP1"]}} и {{con["GSOP2"]}}, для {{name_con}} здания по табл. 3 СП 50.13330.2012.</div>
        <div class="txt">Таким образом, приведенное сопротивление теплопередаче {{name_con}} должно быть не менее {{con["Rtr"]}} м²·°С/Вт.</div>
        <div class="txt">Допускается снижение нормируемого значения сопротивления теплопередаче {{name_con}} в соответствии с
            пунктом 5.2 и формулой 5.1 СП 50.13330.2012</div>
        <div class="formula">R<sub>o</sub><sup>тр</sup> = R<sub>o</sub><sup>тр</sup>·m<sub>p</sub> =
            {{con["Rtr"]}}·{{con["mp"]}} = {{con["Rmin"]}} м²·°С/Вт.</div>
        <div class="txt">Таким образом, приведенное сопротивление теплопередаче {{name_con}} должно быть не менее {{con["Rmin"]}} м²·°С/Вт.</div>
        <br>

        {% if key == 'Чердачное перекрытие' %}
        {% if attic["has"] == True %}
            <div class="txt">В соответствии с пунктом 5.2 допускается снижать нормируемое сопротивление
            теплопередаче чердачного перекрытия, если температура воздуха чердака отличается от температуры
            наружного воздуха. Так как чердак не вентилируется наружным воздухом через проемы в наружных
            стенах, т.е. является теплым, то температура воздуха в чердаке будет значительно выше температуры
            наружного воздуха.</div>
            <div class="txt">Снижение уровня нормируемого сопротивления теплопередаче осуществляется умножением его
            на коэффициент <i>n</i>.</div>
            <div class="txt">Так как температура внутреннего воздуха чердака, под которым располагается перекрытие,
            отличается от температуры внутреннего воздуха помещений здания, необходимо рассчитать коэффициент
            по формуле 5.3</div>
            <div class="formula"> n = (t<sub>в</sub><sup>*</sup> - t<sub>н</sub><sup>*</sup>) /
                (t<sub>в</sub> - t<sub>н</sub>) = ({{norm.t_int}} - {{attic["elem"].t_ext}}) /
                ({{norm.t_int}} - ({{norm.t_ot}})) = {{attic["elem"].n_coef}}</div>
            <div class="txt">где t<sub>в</sub><sup>*</sup> = {{norm.t_int}} °С - температура внутреннего воздуха для
                 помещения находящегося под перекрытием;</div>
            <div class="txt">t<sub>н</sub><sup>*</sup> = {{attic["elem"].t_ext}} °С - температура наружного воздуха по
                 отношению к перекрытию чердака, т.е. температура воздуха в чердаке, определяемая по
                 расчету теплового баланса </div>
            <div class="txt">t<sub>в</sub> = {{norm.t_int}} °С - нормативная температура внутреннего воздуха;</div>
            <div class="txt">t<sub>н</sub> = {{norm.t_ot}} °С - нормативная температура наружного воздуха, принимаемая равной температуре
                отопительного периода.</div>
            <div class="txt">Температура воздуха внутри чердачного пространства t<sub>н</sub><sup>*</sup>, определяется из уравнения
                теплового баланса в соответствии с разделом 11.1 СП 345.1325800.2017 «Здания жилые и общественные.
                Правила проектирования тепловой защиты» </div>
            <div class="formula">t<sub>н</sub><sup>*</sup> = [t<sub>в</sub>Σ(A<sub>i</sub><sup>+</sup>/R<sub>oi</sub><sup>+</sup>) +
                t<sub>н</sub>Σ(A<sub>j</sub><sup>-</sup>/R<sub>oj</sub><sup>-</sup>)]/[Σ(A<sub>i</sub><sup>+</sup>/R<sub>oi</sub><sup>+</sup>) +
                Σ(A<sub>j</sub><sup>-</sup>/R<sub>oj</sub><sup>-</sup>)]</div>
            <div class="txt">В формуле значения с индексом «+» соответствуют ограждающими конструкциям, расположенным между помещением,
                для которого рассчитывается температура воздуха, и внутренними помещениями здания, имеющими температуру
                t<sub>в</sub>. В формуле значения с индексом «-» соответствуют ограждающими конструкциям, расположенным между помещением,
                для которого рассчитывается температура воздуха, и наружным воздухом, имеющим температуру t<sub>н</sub>. </div>
            <div class="txt">Согласно геометрическим показателям ограждений чердака, определены сопротивления теплопередаче R и площади А
                (площади определены по внутренней поверхности ограждающих конструкций) отдельных видов ограждений отраженные
                в таблицах. </div>

            <table border="1">
            <caption class="caption">Таблица. Конструкции, находящиеся между чердачным пространством и внутренними помещениями</caption>
            <tr>
                <th>Название конструкции</th>
                <th>A, м²</th>
                <th>R<sub>o</sub>,м²·ºС/Вт</th>
            </tr>
            {% set s_plus = '' %}
            {% set s_minus = '' %}
            {% for elem in norm.constructions %}
                {% if elem.purpose == 'Внутреняя чердака' %}
                    <tr><td>{{elem.get_construction_name()}}</td><td>{{elem.area}}</td><td>{{elem.r_pr}}</td></tr>
                {% endif %}
            {% endfor %}
            </table>
            <table border="1">
                <caption class="caption">Таблица. Конструкции, находящиеся между чердачным пространством и наружной средой</caption>
                <tr>
                    <th>Название конструкции</th>
                    <th>A, м²</th>
                    <th>R<sub>o</sub>,м²·ºС/Вт</th>
                </tr>
            {% for elem in norm.constructions %}
                {% if elem.purpose == 'Наружная чердака' %}
                    <tr><td>{{elem.get_construction_name()}}</td><td>{{elem.area}}</td><td>{{elem.r_pr}}</td></tr>
                {% endif %}
            {% endfor %}
            </table>
            <div class="txt">Расчет температуры воздуха чердака при расчетных температурных условиях по формуле</div>
            <div class="formula">t<sub>н</sub><sup>*</sup> = ({{norm.t_int}}·({{attic["plus"]}}) + ({{norm.t_ot}})·
                 ({{attic["minus"]}})/({{attic["plus"]}} + {{attic["minus"]}}) = {{attic["elem"].t_ext}} ºС.</div>
            <div class="txt">Нормируемое значение сопротивления теплопередаче перекрытия определяется в
                 соответствие с пунктом 5.2 СП 50.13330.2012</div>
            <div class="formula"><i>R<sub>о</sub><sup>тр</sup> = n·R<sub>о</sub><sup>тр</sup></i> =
                 {{attic["elem"].n_coef}}·{{con["Rtr"]}} = {{attic["elem"].r_tr}} м²·ºС/Вт</div>
            <div class="txt">Таким образом, приведенное сопротивление теплопередаче чердачного перекрытия
                 должно быть не менее {{attic["elem"].r_tr}} м²·ºС/Вт. </div>
            <br>
        {% endif %}
        {% endif %}

        {% if key == 'Перекрытие над холодным подвалом' %}
        {% if basement["has"] %}
            <div class="txt">В соответствии с пунктом 5.2 допускается снижать нормируемое сопротивление
            теплопередаче перекрытия подвала, если температура воздуха подвала отличается от температуры
            наружного воздуха. Так как подвал не вентилируется наружным воздухом через проемы в наружных
            стенах, т.е. является теплым, то температура воздуха в подвале будет значительно выше температуры
            наружного воздуха.</div>
            <div class="txt">Снижение уровня нормируемого сопротивления теплопередаче осуществляется умножением его
            на коэффициент <i>n</i>.</div>
            <div class="txt">Так как температура внутреннего воздуха подвала, над которым располагается перекрытие,
            отличается от температуры внутреннего воздуха помещений здания, необходимо рассчитать коэффициент
            по формуле 5.3</div>
            <div class="formula"> n = (t<sub>в</sub><sup>*</sup> - t<sub>н</sub><sup>*</sup>) /
                 (t<sub>в</sub> - t<sub>н</sub>) = ({{norm.t_int}} - {{basement["elem"].t_ext}}) /
                 ({{norm.t_int}} - ({{norm.t_ot}})) = {{basement["elem"].n_coef}}</div>
            <div class="txt">где t<sub>в</sub><sup>*</sup> = {{norm.t_int}} °С - температура внутреннего воздуха для
                 помещения находящегося над перекрытием;</div>
            <div class="txt">t<sub>н</sub><sup>*</sup> = {{basement["elem"].t_ext}} °С - температура наружного воздуха по
                 отношению к перекрытию подвала, т.е. температура воздуха в подвале, определяемая по
                 f'расчету теплового баланса </div>
            <div class="txt">t<sub>в</sub> = {{norm.t_int}} °С - нормативная температура внутреннего воздуха;</div>
            <div class="txt">t<sub>н</sub> = {{norm.t_ot}} °С - нормативная температура наружного воздуха,
                 принимаемая равной температуре отопительного периода.</div>
            <div class="txt">Температура воздуха внутри подвального пространства t<sub>н</sub><sup>*</sup>,
                 определяется из уравнения теплового баланса в соответствии с разделом 11.1
                 СП 345.1325800.2017 «Здания жилые и общественные. Правила проектирования
                 тепловой защиты» </div>
            <div class="formula">t<sub>н</sub><sup>*</sup> = [t<sub>в</sub>Σ(A<sub>i</sub><sup>+</sup>/R<sub>oi</sub><sup>+</sup>) +
                t<sub>н</sub>Σ(A<sub>j</sub><sup>-</sup>/R<sub>oj</sub><sup>-</sup>)]/[Σ(A<sub>i</sub><sup>+</sup>/R<sub>oi</sub><sup>+</sup>) +
                Σ(A<sub>j</sub><sup>-</sup>/R<sub>oj</sub><sup>-</sup>)]</div>
            <div class="txt">В формуле значения с индексом «+» соответствуют ограждающими конструкциям,
                 расположенным между помещением, для которого рассчитывается температура воздуха,
                 и внутренними помещениями здания, имеющими температуру t<sub>в</sub>. В формуле значения с
                 индексом «-» соответствуют ограждающими конструкциям, расположенным между помещением,
                 для которого рассчитывается температура воздуха, и наружным воздухом,
                 имеющим температуру t<sub>н</sub>. </div>
            <div class="txt">Согласно геометрическим показателям ограждений подвала, определены сопротивления
                 теплопередаче R и площади А (площади определены по внутренней поверхности ограждающих
                 конструкций) отдельных видов ограждений отраженные в таблицах. </div>

            <table border="1">
            <caption class="caption">Таблица. Конструкции, находящиеся между подвалом и внутренними помещениями</caption>
            <tr>
                <th>Название конструкции</th>
                <th>A, м²</th>
                <th>R<sub>o</sub>,м²·ºС/Вт</th>
            </tr>
            {% for elem in norm.constructions %}
                {% if elem.purpose == 'Внутреняя подвала' %}
                    <tr><td>{{elem.get_construction_name()}}</td><td>{{elem.area}}</td><td>{{elem.r_pr}}</td></tr>
                {% endif %}
            {% endfor %}
            </table>
            <table border="1">
            <caption class="caption">Таблица. Конструкции, находящиеся между подвалом и наружной средой</caption>
            <tr>
                <th>Название конструкции</th>
                <th>A, м²</th>
                <th>R<sub>o</sub>,м²·ºС/Вт</th>
            </tr>
            {% for elem in norm.constructions %}
                {% if elem.purpose == 'Наружная подвала' %}
                    <tr><td>{{elem.get_construction_name()}}</td><td>{{elem.area}}</td><td>{{elem.r_pr}}</td></tr>
                {% endif %}
            {% endfor %}
            </table>
            <div class="txt">Расчет температуры воздуха подвала при расчетных температурных условиях по формуле</div>
            <div class="formula">t<sub>н</sub><sup>*</sup> = ({{norm.t_int}}·({{basement["plus"]}}) + ({{norm.t_ot}})·
                 ({{basement["minus"]}})/({{basement["plus"]}} + {{basement["minus"]}}) = {{basement["elem"].t_ext}} ºС.</div>
            <div class="txt">Нормируемое значение сопротивления теплопередаче перекрытия определяется в
                 соответствие с пунктом 5.2 СП 50.13330.2012</div>
            <div class="formula"><i>R<sub>о</sub><sup>тр</sup> = n·R<sub>о</sub><sup>тр</sup></i> =
                 {{basement["elem"].n_coef}}·{{con["Rtr"]}} = {{basement["elem"].r_tr}} м²·ºС/Вт</div>
            <div class="txt">Таким образом, приведенное сопротивление теплопередаче перекрытия подвала
                 должно быть не менее {{basement["elem"].r_tr}} м²·ºС/Вт. </div>
            <br>
        {% endif %}
        {% endif %}
    {% endif %}

    {% if key in ['Двери', 'Ворота'] %}
        <div class="h2">{{key}}</div>
        <div class="txt">Нормируемое сопротивление {{name_con}} определяется в соответствии с пунктом 5.2 по формуле</div>
        <div class="formula">R<sub>o</sub><sup>норм</sup> = 0,6·R<sub>o</sub><sup>норм</sup> =
             0,6·{{con["R_sten"]}} = {{con["Rtr"]}} м²·°С/Вт.</div>
        <div class="txt">где R<sub>o</sub><sup>норм</sup> = {{con["R_sten"]}} м²·°С/Вт - нормируемое сопротивление
             теплопередачи определенное по формуле 5.4 СП 50.13330.2012</div>
        <div class="formula">R<sub>o</sub><sup>норм</sup> = (t<sub>в</sub> - t<sub>н</sub>)/
             (Δt<sup>н</sup>·α<sub>в</sub>)) = ({{norm.t_int}} - ({{norm.t_nhp}}))/ ({{con["delta_t"]}}
             ·{{con["alfa_int"]}}) = {{con["R_sten"]}} м²·°С/Вт,</div>
        <div class="txt">где t<sub>в</sub> = {{norm.t_int}} °С - температура внутреннего воздуха;</div>
        <div class="txt">t<sub>н</sub> = {{norm.t_nhp}} °С - температура наружного воздуха при наиболее холодной
             'пятидневки обеспеченностью 0,92 по СП 131.13330.2012;</div>
        <br>
    {% endif %}
{% endfor %}

<div class="h1">Нормативная удельная теплозащитная характеристика</div>

{% if norm.v_heat > 960 %}
    <div class="txt">Для зданий с отапливаемым объемом больше 960 м³ нормируемое значение удельной теплозащитной
    характеристики здания определяется по формуле 5.5 СП 50.13330.2012</div>
    <div class="formula">k<sub>об</sub><sup>тр</sup> = (0,16 + 10/√V<sub>от</sub>)/(0,00013·ГСОП + 0,61)</div>
    <div class="formula">k<sub>об</sub><sup>тр</sup> = (0,16 + 10/√{{norm.v_heat}})/(0,00013 · {{norm.gsop}}
         + 0,61) = {{norm.k_ob_tr}} Вт/(м³∙°С).</div>

{% else %}
    <div class="txt">Для зданий с отапливаемым объемом меньше или равно 960 м³ нормируемое значение удельной
    теплозащитной характеристики здания определяется по формуле 5.5 СП 50.13330.2012.</div>
    <div class="formula">k<sub>об</sub><sup>тр</sup> = (4,74/(0,00013·ГСОП + 0,61)·1/³√V<sub>от</sub></div>
    <div class="formula">k<sub>об</sub><sup>тр</sup> = (4,74/(0,00013 · {{norm.gsop}} +
         0,61)·1/³√{{norm.v_heat}} = {{norm.k_ob_tr}} Вт/(м³∙°С).</div>
{% endif %}

<div class="txt">Нормируемое значение удельной теплозащитной характеристики здания также определяемое по формуле 5.6</div>
<div class="formula">k<sub>об</sub><sup>тр</sup> = 8,5/√ГСОП = 8,5/√{{norm.gsop}} = {{k_tr}} Вт/(м³∙°С).</div>
{% if norm.k_ob_tr >= k_tr %}
<div class="txt">Так как {{norm.k_ob_tr}} > {{k_tr}}, следовательно окончательное значение нормируемой удельной теплозащитной
характеристики принимаем рассчитанной по формуле 5.5, то есть равное {{norm.k_ob_tr}} Вт/(м³∙°С).</div>
{% else %}
<div class="txt">Так как {{norm.k_ob_tr}} < {{k_tr}}, следовательно окончательное значение нормируемой удельной теплозащитной
характеристики принимаем рассчитанной по формуле 5.6, то есть равное {{norm.k_ob_tr}} Вт/(м³∙°С).</div>
{% endif %}

</body>
</html>